/* ############################## *\ 
	       
	       ** DatGrid **

	Author : Yvan Costes
	Web : http://www.ycostes.net
	Twitter : @ycostes
	licensed under MIT license

\* ############################## */




/* ############################## *\
			  SETUP
\* ############################## */

// les points de ruptures sont à adapter à ceux de votre projet
$medium: 	992px; 		// taille du point de rupture TABLETTE en max-width
$small: 	570px; 		// taille du point de rupture MOBILE en max-width
$one : 		100% / 12;	// taille de l'unité


// outils
@import "compass/utilities/general/clearfix";
@import "compass/css3";

*,
*::before,
*::after { box-sizing: border-box; }


.line {
	display: table;
	width: 100%;
	table-layout: auto;

	.col { display: table-cell; }
}


// Clear des conteneur parents de flottant
.clear,
.row { @include clearfix(); }


// comportement des colonnes
%col {
	float: left;
	display: block;
}

.push11,.push10,.push9,.push8,.push7,.push6,.push5,.push4,.push3,.push2,.push1,
.pull11,.pull10,.l9,.l8,.l7,.l6,.l5,.l4,.l3,.l2,.l1,.l0,
.m12,.m11,.m10,.m9,.m8,.m7,.m6,.m5,.m4,.m3,.m2,.m1,.m0,
.s12,.s11,.s10,.s9,.s8,.s7,.s6,.s5,.s4,.s3,.s2,.s1,.s0 	{ @extend %col; }




// Calcul du système de push
.push11 	{ margin-left: 11 * $one; }
.push10 	{ margin-left: 10 * $one; }
.push9 		{ margin-left: 9 * $one; }
.push8 		{ margin-left: 8 * $one; }
.push7 		{ margin-left: 7 * $one; }
.push6 		{ margin-left: 6 * $one; } 
.push5 		{ margin-left: 5 * $one; }
.push4 		{ margin-left: 4 * $one; } 
.push3 		{ margin-left: 3 * $one; } 
.push2		{ margin-left: 2 * $one; }
.push1 		{ margin-left: $one; }


// Calcul du système de pull -- a finaliser --
.pull11 	{ margin-left: -(11 * $one); }
.pull10 	{ margin-left: -(10 * $one); }
.pull9 		{ margin-left: -(9 * $one); }
.pull8 		{ margin-left: -(8 * $one); }
.pull7 		{ margin-left: -(7 * $one); }
.pull6 		{ margin-left: -(6 * $one); } 
.pull5 		{ margin-left: -(5 * $one); }
.pull4 		{ margin-left: -(4 * $one); } 
.pull3 		{ margin-left: -(3 * $one); } 
.pull2		{ margin-left: -(2 * $one); }
.pull1 		{ margin-left: -($one); }


// Calcul de la taille des colonnes (desktop first)
.l12 		{ width: 100%; }
.l11 		{ width: 11 * $one; }
.l10 		{ width: 10 * $one; }
.l9 		{ width: 9 * $one; }
.l8 		{ width: 8 * $one; }
.l7 		{ width: 7 * $one; }
.l6 		{ width: 6 * $one; } 
.l5 		{ width: 5 * $one; }
.l4 		{ width: 4 * $one; } 
.l3 		{ width: 3 * $one; } 
.l2			{ width: 2 * $one; }
.l1 		{ width: $one; }
.l0 		{ display: none; }


// définition des classes medium / small dans leur media queries respectif.
@media screen and (max-width: $medium ) {
	.m12 	{ width: 100%; }
	.m11 	{ width: 11 * $one; }
	.m10 	{ width: 10 * $one; }
	.m9 	{ width: 9 * $one; }
	.m8 	{ width: 8 * $one; }
	.m7 	{ width: 7 * $one; }
	.m6 	{ width: 6 * $one; } 
	.m5 	{ width: 5 * $one; }
	.m4 	{ width: 4 * $one; } 
	.m3 	{ width: 3 * $one; } 
	.m2		{ width: 2 * $one; }
	.m1 	{ width: $one; }
	.m0 	{ display: none; }
}

@media screen and (max-width: $small ) {
	.s12 	{ width: 100%; }
	.s11 	{ width: 11 * $one; }
	.s10 	{ width: 10 * $one; }
	.s9 	{ width: 9 * $one; }
	.s8 	{ width: 8 * $one; }
	.s7 	{ width: 7 * $one; }
	.s6 	{ width: 6 * $one; } 
	.s5 	{ width: 5 * $one; }
	.s4 	{ width: 4 * $one; } 
	.s3 	{ width: 3 * $one; } 
	.s2		{ width: 2 * $one; }
	.s1 	{ width: $one; }
	.s0 	{ display: none; }
}