
html,body {
	margin: 0;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #ecf0f1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 100%;
	line-height: 1.6em;
}

h1,h2,h3,h4,h5,h6,strong { font-weight: 800; }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:visited {
	color: #3498db;
	text-decoration: none;
	
	&:hover { color: #444; }
}

.row > * {
	color: #7f8c8d;
	margin-top: 3px;	
	margin-bottom: 3px;	
	padding: 10px 5px;
	border-radius: 1px;
	overflow: hidden;
}

.wrap {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}

hr {
	width: 50%;
	margin: 20px auto;
	background-color: #ddd;
	height: 1px;
	border: none;
}

p { margin-bottom: 20px; }

ul {
	list-style: none;
	padding: 0;

	li { padding: 4px; }
}

img {
	max-width: 100%;
	height: auto;
}

/* templates */
%bloc { padding: 20px; }
.bandeau {
	background: url(../img/bg3.jpg) no-repeat center center;
	background-size: cover;
	padding: 50px;
	border-radius: 1px;

	.title { color: #fff; }
	.desc { @extend .title; }
}

.sidebar-left {
	@extend %bloc;
	text-align: left;
}

.content {
	@extend %bloc;
	text-align: left;
	color: #444;
	background-color: #f6f6f6;

	p { line-height: 1.6em; }
}

.sidebar-right { @extend %bloc; }