/* Margin 
######################################### */

// PX
.mt1 { margin-top: 	10px; }
.mt2 { margin-top: 	20px; }
.mt3 { margin-top: 	30px; }
.mt4 { margin-top: 	40px; }
.mt5 { margin-top: 	50px; }

.mr1 { margin-right: 10px; }
.mr2 { margin-right: 20px; }
.mr3 { margin-right: 30px; }
.mr4 { margin-right: 40px; }
.mr5 { margin-right: 50px; }

.mb1 { margin-bottom: 10px; }
.mb2 { margin-bottom: 20px; }
.mb3 { margin-bottom: 30px; }
.mb4 { margin-bottom: 40px; }
.mb5 { margin-bottom: 50px; }

.ml1 { margin-left: 10px; }
.ml2 { margin-left: 20px; }
.ml3 { margin-left: 30px; }
.ml4 { margin-left: 40px; }
.ml5 { margin-left: 50px; }

// EM
.mtxs { margin-top: .5em; }
.mts { margin-top: 	1em; }
.mtm { margin-top: 	2em; }
.mtl { margin-top: 	3em; }
.mtxl { margin-top: 4em; }
.mtxxl { margin-top: 5em; }

.mrxs { margin-right: .5em; }
.mrs { margin-right: 1em; }
.mrm { margin-right: 2em; }
.mrl { margin-right: 3em; }
.mrxl { margin-right: 4em; }
.mrxxl { margin-right: 5em; }

.mbxs { margin-bottom: .5em; }
.mbs { margin-bottom: 1em; }
.mbm { margin-bottom: 2em; }
.mbl { margin-bottom: 3em; }
.mbxl { margin-bottom: 4em; }
.mbxxl { margin-bottom: 5em; }

.mlxs { margin-left: .5em; }
.mls { margin-left: 1em; }
.mlm { margin-left: 2em; }
.mll { margin-left: 3em; }
.mlxl { margin-left: 4em; }
.mlxxl { margin-left: 5em; }


/* Padding 
######################################### */

// PX
.pt1 { padding-top: 10px; }
.pt2 { padding-top: 20px; }
.pt3 { padding-top: 30px; }
.pt4 { padding-top: 40px; }
.pt5 { padding-top: 50px; }

.pr1 { padding-right: 10px; }
.pr2 { padding-right: 20px; }
.pr3 { padding-right: 30px; }
.pr4 { padding-right: 40px; }
.pr5 { padding-right: 50px; }

.pb1 { padding-bottom: 10px; }
.pb2 { padding-bottom: 20px; }
.pb3 { padding-bottom: 30px; }
.pb4 { padding-bottom: 40px; }
.pb5 { padding-bottom: 50px; }

.pl1 { padding-left: 10px; }
.pl2 { padding-left: 20px; }
.pl3 { padding-left: 30px; }
.pl4 { padding-left: 40px; }
.pl5 { padding-left: 50px; }

// EM
.ptxs { padding-top: .5em; }
.pts { padding-top: 1em; }
.ptm { padding-top: 2em; }
.ptl { padding-top: 3em; }
.ptxl { padding-top: 4em; }
.ptxxl { padding-top: 5em; }

.prxs { padding-right: .5em; }
.prs { padding-right: 1em; }
.prm { padding-right: 2em; }
.prl { padding-right: 3em; }
.prxl { padding-right: 4em; }
.prxxl { padding-right: 5em; }

.pbxs { padding-bottom: .5em; }
.pbs { padding-bottom: 1em; }
.pbm { padding-bottom: 2em; }
.pbl { padding-bottom: 3em; }
.pbxl { padding-bottom: 4em; }
.pbxxl { padding-bottom: 5em; }

.plxs { padding-left: .5em; }
.pls { padding-left: 1em; }
.plm { padding-left: 2em; }
.pll { padding-left: 3em; }
.plxl { padding-left: 4em; }
.plxxl { padding-left: 5em; }



/* Reset Margin 
######################################### */

.nmt { margin-top: 0; }
.nmr { margin-right: 0; }
.nmb { margin-bottom: 0; }
.nml { margin-left: 0; }



/* Alignements
######################################### */

.center {
	margin-right: auto;
	margin-left: auto;
}
.txtleft { text-align: left; }
.txtright { text-align: right; }
.txtcenter { text-align: center;}




/* Floats
######################################### */
.left { float: left; }
.right { float: right; }
.clear { @include clearfix(); }



/* Display
######################################### */
.inbl { @include inline-block; }
img { max-width: 100%; height: auto; }